<div class="container mt-2 p-4 rounded">
  <% if(message) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%- message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%}%>
  <%
    let { id, name, email, password, role } = data;
  %>
  <div class="row bg-body-tertiary pt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/users">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
  </div>
  <div class="row mt-3 p-4 bg-body-tertiary">
    <form action="/users-edit/<%= id %>" method="post">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" name="name" value="<%- name %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="email" name="email" value="<%- email %>" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            value="<%- password %>"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-2">
          <select name="role" class="form-select form-select">
            <option <% if(role == "USER") { %>selected<% } %> value="USER">USER</option>
            <option <% if(role == "ADMIN") { %>selected<% } %> value="ADMIN">ADMIN</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
